{% extends 'default/layout.html.twig' %}



{% block content %}
    <div class="row">
        <h1>Here comes possible giveaway list</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            Fight'N Rage; probably <br>
            Late Shift; probably<br>
            Paradigm; 80%<br>
            Slipstream; 70%<br>
            Tower Unite; not (for self)<br>
            Rock of Ages 2: Bigger & Boulder™; 90%<br>
            Sniper Elite 3; 50%<br>
            Tom Clancy's The Division™; 100%, but region locked<br>
            Tom Clancy's The Division™ - Survival; separatly<br>
            Yakuza 0; 10% (for self)<br>
            Dead Island Definitive Edition; 100% (already owned)<br>
            Resident Evil Revelations; 100% (big one)<br>
            The Final Station; 10% (for self)<br>
            Outpost Zero; 90%<br>
            Not the Robots; 60%<br>
            Lovely Planet; 60%<br>
            GARAGE: Bad Trip; 40%<br>
            Community Inc; 60%<br>
            American Truck Simulator; 90%<br>
            AER Memories of Old; 100% (already owned)<br>
            The Final Station; 100% (second time, watch above)<br>
            Last Day of June; 100% (already owned)<br>
            Shadow Tactics: Blades of the Shogun; 100% (already owned)<br>
            Torment: Tides of Numenera; 10% (interesting single player)<br>
            Wasteland 2: Director’s Cut; 20% (something interesting, turn based)<br>
            Battle Chef Brigade; 10% (interesting, local multiplayer)<br>
            <strike>Darksiders II: Deathinitive Edition; 90%</strike><br>
            ETHEREAL; 10% (puzzle, very interesting for me)<br>
            Figment; 50% (insteresting, story based)<br>
            Little Nightmares; 30% (horror for horror night stream!)<br>
            Zombie Night Terror; 40% (interesting puzzle like deffence???)<br>
            Forts; 100% (already owned)<br>
            Interplanetary: Enhanced Edition; 100% (already owned)<br>
            <strike>Titan Quest: Anniversary Edition + Titan Quest: Ragnarok DLC; 100% (already owned)</strike><br>
            Destiny 2; 100% (???? if it is not free yet)<br>
            NBA Playgrounds; 100% (don't like)<br>
        </div>
    </div>
{% endblock content %}