<h2>Links</h2>
<hr>
<address>
    <abbr title="My Twitch Channel">Twitch:</abbr>
    <a href="https://twitch.tv/DinoCrys">DinoCrys</a>
    <br>
    <abbr title="GitHub">GitHub:</abbr>
    <a href="https://github.com/dinobits/">DinoBits</a>
    <br>
    <abbr title="My discord Channel">Discord:</abbr>
    <a href="https://discord.gg/qkJFDpy">CRISIS</a>
</address>